body {

}

.navbar-static-top {
  margin-bottom: 19px;
  background: linear-gradient(to bottom right, red, yellow);
  border-color: #1b1b24;
}

.navbar-default .navbar-brand {
  color: #FFF;
}

.navbar-default .navbar-brand:hover {
  color: #777;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #999;
}

.navbar-default .navbar-toggle {
 border-color: transparent !important;
}

.navbar-toggle:hover {
	background-color: #1b1b24 !important;
}

.navbar-toggle {
	background-color: #1b1b24 !important;
}