{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %}Welcome | {{ block.super }}{% endblock %}

<style>
	{% block style %}
	.navbar-static-top {
		margin-bottom: 0px !important;
	}

	body {
		background-size: 100% 120%;
		background-color: black;
		height: 100%;
		background-attachment: fixed;
	}

	{% endblock %}
</style>

{% block content %}

</br></br></br></br></br></br></br>
<div class="content">
	<div class="container" style="text-align: center;">

		<strong><h3 style="text-align: center; color:white;">Monitor From Anywhere in The World</h3></strong></br>
		<button style="background-color:#00afc6; color:#ffffff;" class="btn btn-default btn-lg">Mobile App Monitoring Coming Soon</button>

	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="{% static 'js/home/home.js' %}"></script>
</br></br></br></br></br></br></br></br></br>

{% endblock %}
