
<table style="width:100%" class="table table-bordered">
  <tr>
    <td><a style="color: #ffffff;" class="navbar-brand col-sm-12" href="{% url 'home' %}"><i class="fa fa-line-chart aria-hidden='true' fa-1x"></i> List View</a></td>
  </tr>
  <tr>
    <td><a style="color: #ffffff;" class="navbar-brand col-sm-12" href="#"><i class="fa fa-user aria-hidden='true' fa-1x"></i> Map View</a></td>
  </tr>
   <tr>
    <td><a style="color: #ffffff;" class="navbar-brand col-sm-12" href="#"><i class="fa fa-cog aria-hidden='true' fa-1x"></i> Settings</a></td>
  </tr>
   <tr>
    <td><a style="color: #ffffff;" class="navbar-brand col-sm-12" href="#"><i class="fa fa-envelope aria-hidden='true' fa-1x"></i> Support</a></td>
  </tr>
</table>















