{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<h1 style="color: #f8666d;">{{ title }}</h1>



<hr>
<!-- Begin Events Section -->
<div>
    <div class="row">

        <div class="col-sm-6 col-md-6">

            <div class="panel" style="background-color: #f8666d; color: white;">

                <div class="panel-heading">
                     <a href="http://bitioconsulting.com">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-floppy-o aria-hidden='true' fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"><h1>{{ transactions }}</h1></div>
                            <div>Number of times Saved</div>
                        </div>
                    </div>
                          </a>
                </div>

            </div>

        </div>

    </div>

</div>

<!-- End Events Section -->
<hr>



{% endblock content %}

